<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(${project.title} + ' - 创作', ~{::content})}">
<body>
<div th:fragment="content" x-data="workflowApp()">
    <!-- Sticky header area -->
    <div class="sticky-top bg-white pb-2" style="z-index: 100;">
        <div th:replace="~{workflow/_header :: header}"></div>
    </div>

    <!-- Main Content Card (step content + outline + generic) -->
    <div th:replace="~{workflow/_step-content :: stepContent}"></div>

    <!-- Character Cards Section -->
    <div th:replace="~{workflow/_characters :: characters}"></div>

    <!-- Proofreading Section -->
    <div th:replace="~{workflow/_proofreading :: proofreading}"></div>

    <!-- Chapter Management Section -->
    <div th:replace="~{workflow/_chapters :: chapters}"></div>

    <!-- Advance Step (always available when on current step and not the last step) -->
    <div th:if="${viewStep == project.currentStep && viewStep.next() != null}" class="mt-3 text-end" x-show="!generating && !fullAutoRunning">
        <button type="button" class="btn btn-outline-primary" @click="advanceStep()">
            <i class="bi bi-arrow-right"></i> 跳过当前步骤，进入下一步
        </button>
    </div>

    <!-- Modals -->
    <div th:replace="~{workflow/_modals :: modals}"></div>

    <!-- Server-side data bootstrap -->
    <script th:inline="javascript">
        window.__WORKFLOW_DATA__ = {
            currentContent: /*[[${currentContent ?: ''}]]*/ '',
            projectId: /*[[${project.id}]]*/ 0,
            currentStep: /*[[${viewStep.name()}]]*/ '',
            currentStepOrder: /*[[${viewStep.order}]]*/ 1,
            stepConfirmed: /*[[${stepConfirmed}]]*/ false,
            isLastStep: /*[[${viewStep.next() == null}]]*/ false,
            totalChapters: /*[[${totalChapters}]]*/ 10,
            chapterWordCount: /*[[${project.chapterWordCount}]]*/ 5000,
            chapterWordCountMin: /*[[${project.chapterWordCountMin}]]*/ 4000,
            chapterWordCountMax: /*[[${project.chapterWordCountMax}]]*/ 6000,
            stepGuidance: /*[[${stepGuidance}]]*/ '',
            autoMode: /*[[${project.autoMode}]]*/ false,
            autoRunStepConfigs: /*[[${autoRunStepConfigs}]]*/ {},
            projectCurrentStep: /*[[${project.currentStep.name()}]]*/ 'WORLD_BUILDING',
            characterStateDims: /*[[${characterStateDimConfigs}]]*/ []
        };
    </script>

    <!-- JS Modules (order matters: mixins before core) -->
    <script th:src="@{/js/workflow/workflow-state.js}"></script>
    <script th:src="@{/js/workflow/outline.js}"></script>
    <script th:src="@{/js/workflow/characters.js}"></script>
    <script th:src="@{/js/workflow/chapters.js}"></script>
    <script th:src="@{/js/workflow/polishing.js}"></script>
    <script th:src="@{/js/workflow/proofreading.js}"></script>
    <script th:src="@{/js/workflow/autorun.js}"></script>
    <script th:src="@{/js/workflow/core.js}"></script>
</div>
</body>
</html>
